<div class="container mt-5">
  <div class="row">
    <div class="col">
    <h2>{{ event.name }}</h2>
    <span class="text-muted mb-2">Location: {{ event.location }}</span>
    <p class="lead description">Description: {{ event.description }}</p>
    </div>
    <div class="col">
    <img src="{{ event.pictureUrl }}" alt="{{ event.name }}" class="img-fluid rounded float-right event-image">
    </div>
  </div>
</div>