{{#if user}}
  <nav>
    <a href="/event/create">Create a new event</a>
    <a href="/profile">Profile</a>
  </nav>

  <div>
    {{#each events}}
    <article>
      <a href="/event/{{ _id }}">
      <h2>{{ name }}</h2>
      <p>{{ description }}</p>
      <span>{{ location }}</span>
      </a>
    </article>
    {{/each}}
  </div>
{{else}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <h1 class="display-1 text-center">Name</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <a href="/authentication/sign-in" class="btn btn-outline-dark">Sign In</a>
    </div>
  </div>
    <div class="row justify-content-center">
    <div class="col align-self-center">
      <a href="/authentication/sign-up" class="btn btn-outline-dark">Sign Up</a>
    </div>
  </div>
</div>
{{/if}}
