{{#if user}}
{{> navbar }}

{{#if events}}
  <div class="container mt-3">
    {{#each events}}
    <a href="/event/{{ _id }}" style="text-decoration : none">
      <article class="jumbotron">
        <div>
            <h2 class="text-white">{{ name }}</h2>
            <span class="text-muted mb-2 location">Location: {{ location }}</span>
            <p class="description text-white" style="font-size: 1.2em;">Description: {{ description }}</p>
        </div>
            <img src="{{ pictureUrl }}" alt="" class="img-fluid rounded home-image float-right">
      </article>
    </a>
    {{/each}}
  </div>
{{else}}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 d-flex flex-column align-self-center">
      <h2 class="text-center mb-3">You don't have any events! Start adding some!</h2>
      <a href="/event/create" class="btn btn-secondary create-btn">Create a new event</a>
    </div>
  </div>
</div>
{{/if}}

{{else}}
{{> home }}
{{/if}}
<script>
  let currentLink = document.getElementById('all-events-link')
  currentLink.style.backgroundColor = "#343A40"
  currentLink.style.color = "white"
</script>