{{#if user}}
<nav>
  <form method="POST" action="/event/{{ event._id }}/delete">
    <button>Delete Event</button>
  </form>
  <a href="/profile">Profile</a>
</nav>
{{else}}
  <a href="/authentication/sign-in">Sign In</a>
  <a href="/authentication/sign-up">Sign Up</a>
{{/if}}

<div>
  <div>
    <h2>{{ event.name }}</h2>
    <span>{{ event.location }}</span>
    <p>{{ event.description }}</p>
    <img src="" alt="">
  </div>

{{#if user}}
  <div>
    <div>
      <p>Copy and share the link to invite people:</p>
      <textarea id="textarea" >http://localhost:3000/event/{{ event._id }}</textarea>
      <button id="button">Copy to clipboard</button>
    </div>
    <div>
      <a href="/event/{{ event._id }}/tasks">View tasks</a>
      <a href="/event/{{ event._id }}/availability">View availabilities</a>
    </div>
  </div>
</div>

<div>
  <form id="invisible-form" action="/{{ event._id }}/join">
    <div id="append-to"></div>
  </form>
</div>

<div>
  <form action="" method="POST">
    {{#each event.dates}}
      <label for="date">{{ dateHelper date "DD/MM/YYYY" }}</label>
      <input type="checkbox" id="date" name="id" value="{{ _id }}">
    {{/each}}
    <button>Submit dates</button>
  </form>
</div>

<div>
  <h3>Comments</h3>

  <form action="" method="POST">
    <label for="input-comment">Comments</label>
    <input type="text" name="comment" id="input-comment" placeholder="Add a comment..." />

    <button>Submit</button>
  </form>
</div>
{{else}}
<a href="/">Sign-in to join</a>
{{/if}}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  const textArea = document.getElementById('textarea')
  const button = document.getElementById('button')
  button.addEventListener('click', () => {
    textarea.select();
    document.execCommand('copy')
  });

  const invitees = {{{ helperJson event.invitees }}}
  const userId = {{{ helperJson user._id }}}
  if (userId && !invitees.includes(userId)) {
    const joinButton = document.createElement("button");
    joinButton.innerHTML = "JOIN EVENT";
    const form = document.getElementById("invisible-form");
    form.appendChild(joinButton);
  }
</script>