{{> eventpartial }}

<div>
  <div>
    <div>
      <p>Copy and share the link to invite people:</p>
      <textarea id="textarea" >http://localhost:3000/event/{{ event._id }}/join</textarea>
      <button class="btn btn-outline-dark mt-3" id="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
</svg></button>
    </div>
    <div>
      <a href="/event/{{ event._id }}/tasks">View tasks</a>
      <a href="/event/{{ event._id }}/availability">View availabilities</a>
    </div>
  </div>
</div>

<div>
  <form action="" method="POST">
    {{#each event.dates}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input class="mr-3" type="checkbox" id="date" name="id" value="{{ _id }}">
      <label for="date">{{ dateHelper date "DD/MM/YYYY" }}</label>
    </div>
  </div>
</div>
    {{/each}}
    <button class="btn btn-outline-dark mt-3">Submit dates</button>
  </form>
</div>



<div>
  <h3>Comments</h3>
    {{#each comments}}
  <span>{{ creator.name }} at {{ dateHelper creationDate "hh:mm, DD/MM/YYYY"}}</span>
  <div class="post">
    <p>{{ content }}</p>
    {{#if pictureUrl}}
      <img src="{{pictureUrl}}" />
    {{/if}}
  </div>
    {{/each}}

  <form action="/event/{{ event._id }}/comment" class="form-group" method="POST" enctype="multipart/form-data">
    <label for="input-comment"></label>
    <input type="text" class="form-control mb-2" name="content" id="input-comment" placeholder="Add a comment..." />

    <label for="input-file">Add an image</label>
    <div class="input-group mb-2">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02" name="image" placeholder="Comment Image">
    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
  </div>
</div>

    <button class="btn btn-outline-dark mt-3">Submit</button>
  </form>
</div>


<script>
  const textArea = document.getElementById('textarea')
  const button = document.getElementById('button')
  button.addEventListener('click', () => {
    textarea.select();
    document.execCommand('copy')
  });
</script>