{{> eventpartial }}

<div>
  <div>
    <div>
      <p>Copy and share the link to invite people:</p>
      <textarea id="textarea" >http://localhost:3000/event/{{ event._id }}/join</textarea>
      <button id="button">Copy to clipboard</button>
    </div>
    <div>
      <a href="/event/{{ event._id }}/tasks">View tasks</a>
      <a href="/event/{{ event._id }}/availability">View availabilities</a>
    </div>
  </div>
</div>

<div>
  <form action="" method="POST">
    {{#each event.dates}}
      <label for="date">{{ dateHelper date "DD/MM/YYYY" }}</label>
      <input type="checkbox" id="date" name="id" value="{{ _id }}">
    {{/each}}
    <button>Submit dates</button>
  </form>
</div>

<div>
  <h3>Comments</h3>
    {{#each comments}}

  <span>{{ creator.name }} at {{ dateHelper creationDate "hh:mm, DD/MM/YYYY"}}</span>
  <div class="post">
    <p>{{ content }}</p>
    {{#if pictureUrl}}
      <img src="{{pictureUrl}}" />
    {{/if}}
  </div>
    {{/each}}

  <form action="/event/{{ event._id }}/comment" method="POST" enctype="multipart/form-data">
    <label for="input-comment"></label>
    <input type="text" name="content" id="input-comment" placeholder="Add a comment..." />

    <label for="input-file">Add an image</label>
    <input class="form-control mb-2" type="file" name="image" id="input-image" placeholder="Comment Image">

    <button>Submit</button>
  </form>
</div>

<script>
  const textArea = document.getElementById('textarea')
  const button = document.getElementById('button')
  button.addEventListener('click', () => {
    textarea.select();
    document.execCommand('copy')
  });
</script>