<nav class="navbar navbar-light">
</nav>

{{> eventpartial }}

<div class="mt-1">
  <p class="lead text-right">Copy and share the link to invite people:</p>
  <div class="input-group justify-content-end">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <button class="btn btn-outline-dark" id="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        </svg></button>
      </span>
    </div>
    <textarea class="form-control" id="textarea">https://schedeo.herokuapp.com/event/{{ event._id }}/join</textarea>
  </div>
</div>

<div>
    <h2 class="display-5 mb-3">Vote on your dates:</h2>
    <form method="POST">
      {{#each event.dates}}
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text alert">
              <label class="dates d-flex container-date align-items-baseline mr-3" for="date {{ _id }}">
                {{ dateHelper date "DD/MM/YYYY" }}
                <input type="checkbox" id="date {{ _id }}" name="id" value="{{ _id }}">
                <span class="checkmark mt-1"></span>
              </label>
            </div>
          </div>
        </div>
      {{/each}}
      <div>
      <button class="btn orange text-white mt-3">Submit dates <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-square mb-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
  </svg></button>
      </div>
    </form>
</div>

<div class="mt-5 mb-5">
    <h2 class="display-5 mb-2">Comments</h2>
      {{#each comments}}
        <div class="comment jumbotron">
        <span class="lead comment">{{ creator.name }} at {{ dateHelper creationDate "hh:mm, DD/MM/YYYY"}}:</span>
        <p class="lead comment">{{ content }}</p>
      {{#if pictureUrl}}
        <img src="{{pictureUrl}}" class="img-fluid rounded"/>
      {{/if}}
        </div>
      {{/each}}


  <form action="/event/{{ event._id }}/comment" class="form-group form-row" method="POST" enctype="multipart/form-data">
    <div class="form-row"></div>
      <div class="col-6">
        <label for="input-comment"></label>
        <input type="text" class="form-control mb-2" name="content" id="input-comment" placeholder="Add a comment..." />
      </div>
      <div class="col-6">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" name="image" placeholder="Comment Image">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
          </div>
    </div>
    <div class="col">
        <button class="btn orange text-white mt-3">Post comment</button>
    </div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script type="application/javascript">
  const textArea = document.getElementById('textarea')
  const button = document.getElementById('button')
  button.addEventListener('click', () => {
    textarea.select();
    document.execCommand('copy');
    textarea.deselect();
  });

  $('input[type="file"]').change(function(e){
      var fileName = e.target.files[0].name.substring(0, 11);
      $('.custom-file-label').html(fileName + "...");
    });
</script>