{{#if user}}
{{> navbar }}

{{#if events}}
  <div class="container mt-3">
    {{#each events}}
      <article class="jumbotron jumbotron-home">
        <div>
    <a href="/event/{{ _id }}">
            <h2 class="text-white">{{ name }}</h2>
            </a>
    <form method="POST" action="/event/{{ _id }}/delete">
      <button class="badge badge-danger delete-btn align-self-start">Delete Event</button>
    </form>
    <a href="/event/{{ _id }}">
            <span class="text-muted mb-2 location">Location: {{ location }}</span>
            <p class="description text-white" style="font-size: 1.2em;">Description: {{ description }}</p>
    </a>
        </div>
            <img src="{{ pictureUrl }}" alt="" class="img-fluid rounded home-image float-right">
      </article>
    {{/each}}
    {{else}}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 d-flex flex-column align-self-center">
      <h2 class="text-center mb-3">You don't have any events! Start adding some!</h2>
      <a href="/event/create" class="btn btn-secondary create-btn">Create a new event</a>
    </div>
  </div>
</div>
{{/if}}
  </div>
{{else}}
{{> home }}
{{/if}}
<script>
  let currentLink = document.getElementById('my-events-link')
  currentLink.style.backgroundColor = "#343A40"
  currentLink.style.color = "white"
</script>