{{#if user}}
{{> navbar }}

  <div class="container mt-3">
    {{#each events}}
    <article class="jumbotron">
      <a href="/event/{{ _id }}">
      <h2>{{ name }}</h2>
      <span class="text-muted mb-2">Location: {{ location }}</span>
      <p class="lead description">Description: {{ description }}</p>
      <img src="{{ pictureUrl }}" alt="">
      <form method="POST" action="/event/{{ _id }}/delete">
      <button>Delete Event</button>
    </form>
      </a>
    </article>
    {{/each}}
  </div>
{{else}}
{{> home }}
{{/if}}
