<a href="/event/{{ event._id }}">Go back</a>


<p>How can you help make {{ event.name }} epic?</p>
<form action="/event/{{ event._id }}/tasks" method="POST">
  <input type="text" name="task" placeholder="I will...">
  <button class="btn btn-outline-dark mt-3">Make it happen</button>
</form>

<p>Who is going to do what...</p>
<table class="table">
  <thead>
    <tr>
      <th>Who</th>
      <th>What</th>
    </tr>
  </thead>
  <tbody>
    {{#each event.tasks}}
      <tr>
        <td>{{ assignedTo.name }}</td>
        <td>{{ description }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

